body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    padding-top: 70px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('');
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}

h2 {
    margin-bottom: 20px;
}



footer {
    background-color: #111;
    font-size: 0.9rem;
}